html,
body {
  overflow-x: hidden;
}

body {
    background-color: #FFF;
    color: #888;
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    font-weight: bolder;
    font-family: 'Bitter', serif;
    color: #3374bb;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 50px;
}
#head #masthead {
       /* background-color: white; */
       z-index: 2;
       padding: .25em;
}

#masthead:before {
    right: -999em;
    background:  white;
    content: '';
    display: block;
    position: absolute;
    width: 1888em;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#head.section {
    background: center url(../img/header.jpg);
    background-size: cover;
    color: #666;
    font-size: 32px;
    font-weight: bold;
}

#head a {
    background-color: #3374bb;
    color: white;
    max-width: 300px;
    width: 100%;
    display: inline-block;
    margin-bottom: 2em;
}

#head a:hover {
    color: #295a90;
    color: white;
}

#head #images {
    padding-bottom: 30px;
}

#head #images img {
    margin: 15px;
    height: 225px;
}

.section {
    position: relative;
    margin: 0;
    padding: 30px;
}

.light {
    background-color: white;
    color: #888;
}

.dark {
    background-color: rgba(0,0,0,.5);
    color: white;
}

.dark a {
    color: #7DAADD;
}

.card {
    color: #888;
}

.accordion h3 button:hover, .accordion h3 button:active, .accordion h3 button:focus {
    text-decoration: none;
}